*{
    box-sizing: border-box;
}

body {
    background-color: #F1EDD2;
}

.title {
    font-size: 45px; 
    font-family: 'Raleway', Bold;
    text-align: center;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    max-width: 500px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;

}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    background-color: rgb(235, 234, 234);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel {
    position: relative;
}


.caroussel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.caroussel_lien.actif {
    background-color: rgb(12, 9, 19)
}

.caroussel_lien {
    background-color: royalblue;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}


.caroussel_lien:hover {
    background-color: rgb(12, 9, 19);
    color: #fff;
    text-decoration: none;
}

.ecriture {
    border: 2px solid #DDA15E;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 300px;
}

.boutoncontact {
    background-color: #DDA15E;
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 0px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: black 2px solid;
}

.legende {
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 10px;
}

.article_block{
    position: relative;

}

.article-card__title {
    color: black;
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
    margin-top: 1.5rem;
    position: relative;
    z-index: 2;
    width: 215px;
    margin-left: 1rem;
    align-self: flex-start;
}

.article-card__title-styled::after {
    content: "";
    display: block;
    width: 50%;
    height: 12px;
    background-color: #DDA15E;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: -0.5rem;

}

.video {
    padding: 1rem;
    padding-bottom: 0;
    width: 100%;
    position: relative;

}

.legende-image {
    font-family: 'Raleway', serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.text__article {
    font-size: 'Monda', sans-serif;
    padding: 0rem 2rem;
    font-size: 16px;
    height: 30%;
    text-align: left;
}


.bouton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.bouton_next {
    background-color: #DDA15E;
    color: #000000;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 25px;
    border-radius: 10px;
    border: black 2px solid;
    margin-right: 0.5rem;

}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}