.header {
    width: 100%;
}

.headband {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #574027;
    background: linear-gradient(50deg, #574027, black);
    padding: 0rem 1rem;
}


.logosite {
    width: 65px;
    height: 100px;

}

.titresite {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 32px;
    color: #DDA15E;
    
}

.menulogo {
    width: 53px;
    height: 53px;
}

.logo_bouton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosite {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.bouton {
    width: 40px;
    background : none;
    border: none;
    color: #ffffff;
    font-size: 25px;
    margin-right: 1.5rem;
    text-decoration: none;

}

.headband__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: -100%;
    transition: right 0.5s;
    top: 0;
    z-index: 4;
    background: linear-gradient(340deg,#DDA15E -80%, black);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 2rem;
}   

.croixmenu {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 10px;
    width: 50px;

}

.menulist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-right: 2rem;
    list-style-type: none;
}

.textmenu {
    text-decoration: none;
    font-size: 35px;
    font-family: 'Marmelad', sans-serif;
    color: #DDA15E;
    border: none;
} 

.actif {
    right: 0;
}

.citation {
    padding: 0rem 2rem;
    

}

.citation__line {
    border: 1.5px solid #000;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
    align-items: center;
   
}

.citation__titre {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}